body {
	background-color: #f8f9fa;
}

.card {
	border-radius: 1em !important;
}

.dropzone {
	background: white;
	border-radius: 5px;
	border: 2px dashed rgb(0, 135, 247);
	border-image: none;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#imgs {
	position: relative;
	display: inline-block;
	font-size: 0;
}

.close {
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 50%;
	cursor: pointer;
	color: red;
}

#img:hover .close {
	opacity: 1;
	color: red;
}